@font-face {
  font-family: Haval;
  font-display: swap;
  src: url("../files/fonts/Haval-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Haval;
  font-display: swap;
  src: url("../files/fonts/Haval-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: TTWellingtons;
  font-display: swap;
  src: url("../files/fonts/TT-Wellingtons-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: TTWellingtons;
  font-display: swap;
  src: url("../files/fonts/TT-Wellingtons-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
