<aside>
  <div class="modal" id="modal-callback">
    <div class="modal__body">
      <div class="t-title modal__title" data-text="Связаться с нами">
        Связаться с нами
      </div>
      <div class="modal__form">
        <div style="display: none;">
          <input type="text" class="input-note">
        </div>
        <div class="input-control">
          <input type="text" placeholder="Ваше имя" class="input" />
        </div>
        <div class="input-control">
          <input type="tel" placeholder="Телефон" class="input" />
        </div>
        <button type="submit" class="btn-s">Оставить заявку</button>
        <div class="check-wrapper">
          <span class="wpcf7-form-control-wrap">
            <span class="wpcf7-form-control wpcf7-acceptance">
              <span class="wpcf7-list-item">
                <label>
                  <input type="checkbox" name="acceptance-469" />
                  <span class="wpcf7-list-item-label">
                    <span>Я даю согласие на <a href="/privacy-policy" target="_blank">Обработку персональных данных</a></span>
                  </span>
                </label>
              </span>
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
</aside>
