<section class="s-about sect-p bg-ghost" id="s-about">
  <div class="container">
    <div class="s-about__wrapper">
      <div class="s-about__info">
        <div class="sect-head">
          <h2 class="s-title">
            Купить новый HAVAL H3 в Альметьевске
          </h2>
        </div>
        <div class="content-box s-about__content">
          <p>
            Мы, компания Апельсин занимаемся продажей новых автомобилей
            предоставляем услуги сервиса в России.
          </p>
          <p>
            Нашими клиентами являются физические и юридические лица – покупатели
            и продавцы автомобилей; производители и дистрибьюторы автомобильных
            брендов.
          </p>
        </div>
        <div class="s-about__adv-block">
          <h3 class="f-title s-about__adv-title">Преимущества «Апельсин»</h3>
          <ul class="list s-about__adv-list">
            <li>Широкий выбор моделей автомобилей</li>
            <li>Более 20 лет успешных продаж</li>
            <li>Юридическая чистота всех машин.</li>
            <li>Одна из лидирующих компаний рынка</li>
            <li>Выгодные автокредиты без переплат</li>
            <li>Надёжность, опыт и высокая ответственность</li>
            <li>Надежные страховые предложения</li>
          </ul>
        </div>
      </div>
      <div class="s-about__gallery">
        <div class="swiper s-about__slider">
          <div class="slider-arrow _prev _white">
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-prev'></use>
            </svg>
          </div>
          <div class="slider-arrow _next _white">
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-next'></use>
            </svg>
          </div>
          <div class="swiper-wrapper">
            <a
              href="@img/about.jpg"
              data-fancybox="gallery-about"
              class="swiper-slide"
            >
              <img src="@img/about.jpg" alt="image" />
            </a>
            <a
              href="@img/about.jpg"
              data-fancybox="gallery-about"
              class="swiper-slide"
            >
              <img src="@img/about.jpg" alt="image" />
            </a>
            <a
              href="@img/about.jpg"
              data-fancybox="gallery-about"
              class="swiper-slide"
            >
              <img src="@img/about.jpg" alt="image" />
            </a>
            <a
              href="@img/about.jpg"
              data-fancybox="gallery-about"
              class="swiper-slide"
            >
              <img src="@img/about.jpg" alt="image" />
            </a>
            <a
              href="@img/about.jpg"
              data-fancybox="gallery-about"
              class="swiper-slide"
            >
              <img src="@img/about.jpg" alt="image" />
            </a>
            <a
              href="@img/about.jpg"
              data-fancybox="gallery-about"
              class="swiper-slide"
            >
              <img src="@img/about.jpg" alt="image" />
            </a>
            <a
              href="@img/about.jpg"
              data-fancybox="gallery-about"
              class="swiper-slide"
            >
              <img src="@img/about.jpg" alt="image" />
            </a>
          </div>
        </div>
        <div class="swiper s-about__thumb-slider">
          <div class="swiper-wrapper">
            <div
              class="swiper-slide"
              style="
                background: url(&quot;@img/about.jpg&quot;) center / cover
                  no-repeat;
              "
            ></div>
            <div
              class="swiper-slide"
              style="
                background: url(&quot;@img/about.jpg&quot;) center / cover
                  no-repeat;
              "
            ></div>
            <div
              class="swiper-slide"
              style="
                background: url(&quot;@img/about.jpg&quot;) center / cover
                  no-repeat;
              "
            ></div>
            <div
              class="swiper-slide"
              style="
                background: url(&quot;@img/about.jpg&quot;) center / cover
                  no-repeat;
              "
            ></div>
            <div
              class="swiper-slide"
              style="
                background: url(&quot;@img/about.jpg&quot;) center / cover
                  no-repeat;
              "
            ></div>
            <div
              class="swiper-slide"
              style="
                background: url(&quot;@img/about.jpg&quot;) center / cover
                  no-repeat;
              "
            ></div>
            <div
              class="swiper-slide"
              style="
                background: url(&quot;@img/about.jpg&quot;) center / cover
                  no-repeat;
              "
            ></div>
          </div>
        </div>
        <div class="slider-scrollbar"></div>
      </div>
    </div>
  </div>
</section>