<section class="s-hero" id="s-hero">
  <div class="swiper s-hero__slider">
    <div class="swiper-wrapper">
      <div
        class="swiper-slide s-hero__slide"
        style="
          background: url(&quot;@img/hero.jpg&quot;) center / cover no-repeat;
        "
      >
        <div class="container">
          <div class="s-hero__slide-info">
            <h1 class="m-title s-hero__slide-title">
              Официальный дилер HAVAL в Альметьевске
            </h1>
            <div class="content-box s-hero__slide-content">
              <p>
                Покупая haval у официального дилера, вы получаете гарантию от
                производителя, качественное сервисное обслуживание и доступ к
                оригинальным запчастям. Доверьтесь профессионалам!
              </p>
            </div>
            <a href="#" class="btn-s s-hero__slide-btn _white">
              <span>ПОСМОТРЕТЬ МОДЕЛЬНЫЙ РЯД</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div
        class="swiper-slide s-hero__slide"
        style="
          background: url(&quot;@img/hero.jpg&quot;) center / cover no-repeat;
        "
      >
        <div class="container">
          <div class="s-hero__slide-info">
            <h2 class="m-title s-hero__slide-title">
              Официальный дилер HAVAL в Альметьевске 2
            </h2>
            <div class="content-box s-hero__slide-content">
              <p>
                Покупая haval у официального дилера, вы получаете гарантию от
                производителя, качественное сервисное обслуживание и доступ
              </p>
            </div>
            <a href="#" class="btn-s s-hero__slide-btn _white">
              <span>ПОСМОТРЕТЬ МОДЕЛЬНЫЙ РЯД</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div
        class="swiper-slide s-hero__slide"
        style="
          background: url(&quot;@img/hero.jpg&quot;) center / cover no-repeat;
        "
      >
        <div class="container">
          <div class="s-hero__slide-info">
            <h2 class="m-title s-hero__slide-title">
              Официальный дилер HAVAL в Альметьевске 2
            </h2>
            <div class="content-box s-hero__slide-content">
              <p>
                Покупая haval у официального дилера, вы получаете гарантию от
                производителя, качественное сервисное обслуживание и доступ
              </p>
              <p>
                Покупая haval у официального дилера, вы получаете гарантию от
                производителя, качественное сервисное обслуживание и доступ
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="swiper-slide s-hero__slide"
        style="
          background: url(&quot;@img/hero.jpg&quot;) center / cover no-repeat;
        "
      >
        <div class="container">
          <div class="s-hero__slide-info">
            <h2 class="m-title s-hero__slide-title">
              Официальный дилер HAVAL в Альметьевске 2
            </h2>
            <div class="content-box s-hero__slide-content">
              <p>
                Покупая haval у официального дилера, вы получаете гарантию от
                производителя, качественное сервисное обслуживание и доступ
              </p>
            </div>
            <a href="#" class="btn-s s-hero__slide-btn _white">
              <span>ПОСМОТРЕТЬ МОДЕЛЬНЫЙ РЯД</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="s-hero__slider-nav">
      <div class="container">
        <div class="slider-arrows">
          <div class="slider-arrow _prev _white">
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-prev'></use>
            </svg>
          </div>
          <div class="slider-arrow _next _white">
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-next'></use>
            </svg>
          </div>
        </div>
        <div class="slider-pagination _white"></div>
      </div>
    </div>
  </div>
</section>
