<section
  class="s-offer sect-p"
  id="s-offer"
  style="background: url(&quot;@img/offer.jpg&quot;) center / cover no-repeat"
>
  <div class="container">
    <div class="s-offer__info">
      <div class="sect-head">
        <h2 class="s-title">
          Понравилась модель? Запишитесь на тест-драйв прямо сейчас
        </h2>
        <div class="content-box s-offer__content">
          <p>
            Получите индивидуальное предложение на новый HAVAL и консультацию
            <br />
            от официального дилера!
          </p>
        </div>
      </div>
      <div data-model-options="H3,H5,H7,H9,H3,H5,H7,H9,">
        <form action="#" class="s-offer__form">
          <div class="wrap">
            <div class="input-control">
              <div class="select" data-target-options="model">
                <div class="select-btn">
                  <input
                    type="text"
                    placeholder="Модель"
                    readonly
                    class="input select-input"
                  />
                  <svg class="arrow">
                    <use xlink:href="img/icons/icons.svg#icon-down"></use>
                  </svg>
                </div>
                <div class="select-body"></div>
              </div>
            </div>
            <div class="input-control">
              <input type="text" placeholder="Имя" class="input" />
            </div>
            <div class="input-control">
              <input type="tel" placeholder="Телефон" class="input" />
            </div>
            <div class="input-control">
              <input type="text" placeholder="Желаемая дата" class="input" />
            </div>
            <button type="submit" class="btn-s _primary">
              Оставить заявку
            </button>
            <div class="check-wrapper _white">
              <span class="wpcf7-form-control-wrap">
                <span class="wpcf7-form-control wpcf7-acceptance">
                  <span class="wpcf7-list-item">
                    <label>
                      <input type="checkbox" name="acceptance-469" />
                      <span class="wpcf7-list-item-label">
                        <span>
                          Я даю согласие на
                          <a href="/privacy-policy" target="_blank">
                            Обработку персональных данных
                          </a>
                        </span>
                      </span>
                    </label>
                  </span>
                </span>
              </span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
