<section class="sect-m s-product">
  <div class="container">
    <div data-product-tab="product-tab-1" class="s-product__tab _active _show">
      <div class="s-product__wrapper">
        <div class="s-product__info">
          <div class="s-product__gallery _active _show">
            <div class="swiper s-product__slider">
              <div class="swiper-wrapper">
                <a
                  href="@img/product-main.jpg"
                  data-fancybox="product-main"
                  class="swiper-slide"
                >
                  <img src="@img/product-main.jpg" alt="image " />
                </a>
                <a
                  href="@img/product-main.jpg"
                  data-fancybox="product-main"
                  class="swiper-slide"
                >
                  <img src="@img/product-main.jpg" alt="image " />
                </a>
                <a
                  href="@img/product-main.jpg"
                  data-fancybox="product-main"
                  class="swiper-slide"
                >
                  <img src="@img/product-main.jpg" alt="image " />
                </a>
                <a
                  href="@img/product-main.jpg"
                  data-fancybox="product-main"
                  class="swiper-slide"
                >
                  <img src="@img/product-main.jpg" alt="image " />
                </a>
              </div>
            </div>
            <div class="slider-pagination"></div>
            <div class="slider-arrows">
              <div class="slider-arrow _prev _white">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-prev"></use>
                </svg>
              </div>
              <div class="slider-arrow _next _white">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-next"></use>
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div class="s-product__main">
          <h1 class="t-title">HAVAL H3</h1>
          <div class="content-box s-product__content-box">
            <p>
              Обновленный HAVAL H3 стал еще выразительнее и продуманнее. Новые
              линии, улучшенные формы и интеллектуальные изменения делают
              автомобиль более комфортным и практичным. Благодаря обновлению
              двигателя до экологического стандарта Евро-6* автомобиль стал
              экономичнее, сохранив свой уверенный и брутальный характер.
            </p>
          </div>
          <div class="s-product__main-row">
            <div class="block _price">
              <div class="item">
                <div class="name">Цена от</div>
                <div class="val">2 499 000 ₽</div>
              </div>
              <div class="item">
                <div class="name">В кредит от</div>
                <div class="val">0,01%</div>
              </div>
            </div>
            <a href="@img/about.jpg" download class="block">
              <div class="item">
                <div class="name">
                  <span>Прайс-лист</span>
                  <svg>
                    <use xlink:href="img/icons/icons.svg#icon-download"></use>
                  </svg>
                </div>
                <div class="descr">Модельный год: 2026 Год выпуска: 2026</div>
              </div>
            </a>
          </div>
          <div class="s-product__colors">
            <div class="s-product__colors-title">
              Выбранный цвет:
              <span id="product-current-color">
                Терракотовый сапфир / металлик
              </span>
            </div>
            <div class="s-product__colors-slider swiper">
              <div class="swiper-wrapper">
                <div
                  class="swiper-slide s-product__color _active"
                  style="
                    background: url(&quot;@img/product-main.jpg&quot;) center /
                      cover no-repeat;
                  "
                  data-gallery-images="@img/product-main.jpg,@img/product-main.jpg,@img/product-main.jpg,@img/product-main.jpg"
                  data-name-color="Терракотовый сапфир / металлик"
                ></div>
                <div
                  class="swiper-slide s-product__color"
                  style="
                    background: url(&quot;@img/product-main-2.jpg&quot;)
                      center / cover no-repeat;
                  "
                  data-gallery-images="@img/product-main-2.jpg,@img/product-main-2.jpg,@img/product-main-2.jpg,@img/product-main-2.jpg"
                  data-name-color="Терракотовый сапфир / металлик"
                ></div>
                <div
                  class="swiper-slide s-product__color"
                  style="
                    background: url(&quot;@img/product-main.jpg&quot;) center /
                      cover no-repeat;
                  "
                  data-gallery-images="@img/product-main.jpg,@img/product-main.jpg,@img/product-main.jpg,@img/product-main.jpg"
                  data-name-color="Терракотовый сапфир / металлик"
                ></div>
                <div
                  class="swiper-slide s-product__color"
                  style="
                    background: url(&quot;@img/product-main-2.jpg&quot;)
                      center / cover no-repeat;
                  "
                  data-gallery-images="@img/product-main-2.jpg,@img/product-main-2.jpg,@img/product-main-2.jpg,@img/product-main-2.jpg"
                  data-name-color="Терракотовый сапфир / металлик"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
